

@media (max-width: 767px){
.circle {
  max-width: 55%;
}

}


@media (min-width: 768px) and (max-width: 979px){
.circle {
  max-width: 0%;
}

}


@media (min-width: 979px){
.circle {
  max-width: 40%;
}

.header-text {
    padding-bottom: 5px;
}

.text-project-description {
  padding-right: 10%;
  padding-left: 10%;
}

.project-head {

  padding-right: 10%;
  padding-left: 10%;
}
}

.circle-header {
 width: 80px;
 border-radius: 100%;
 text-align: center;
}
.pom {
 width: 35px;
 border-radius: 100%;
 text-align: center;
}

.circle {
  border-radius: 1200px;
  text-align: center;
  /*max-width: 55%;*/
  margin-bottom: 10px;
/*  -moz-box-shadow:    0px 0px 1px 0px #000;
  -webkit-box-shadow: 0px 0px 1px 0px #000;
  box-shadow: 0px 0px 1px 0px #000;*/
}


.thanks {
    font-family: "soleil",sans-serif;
  text-align: justify;
  padding-top: 20%;
  margin-bottom: 20%;
}


.title {
  font-family: "soleil",sans-serif;
font-family: "soleil",sans-serif;
font-style: normal;
font-weight: 800;
letter-spacing:-1px;
font-size: 24.5px;
}


.kcbpTitle {
  font-family: "soleil",sans-serif;
font-family: "soleil",sans-serif;
font-style: normal;
font-weight: 800;
letter-spacing:-1px;
font-size: 27px;
  margin: auto;
  max-width: 800px;
}
.social-text {
  font-family: "soleil",sans-serif;
font-family: "soleil",sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
padding-bottom: 30px;
}

.description-text {
  font-family: "soleil",sans-serif;
font-family: "soleil",sans-serif;
}


.project-head {
  font-size: 16px;
    font-family: "soleil",sans-serif;
/*font-family: "soleil",sans-serif;*/
  text-align: left;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.row {
    text-align: center;
}

.header-text {
    font-family: "soleil",sans-serif;
/*font-family: "soleil",sans-serif;*/
  text-align: justify;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-bottom: 10%;
}


.text-project-description {
    font-family: "soleil",sans-serif;
/*font-family: "soleil",sans-serif;*/
  text-align: justify;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.text-title-favorites {
  margin-top: 15%;
 font-family: "soleil",sans-serif;
/*font-family: "soleil",sans-serif;*/
font-style: normal;
font-weight: 600;
letter-spacing:-1px;
font-size: 20px;
LINE-HEIGHT:30px;
}


.text-favorites {
    font-family: "soleil",sans-serif;
font-family: "soleil",sans-serif;
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;

}



.socialblock {
  padding-top:10%;
  padding-bottom:10%;
    text-align: justify;
}


.social {
  border-radius: 30px;
  text-align: center;
  max-width: 45px;
  margin-left:2px;
margin-right:2px;
}



.row-social {
  text-align: center;
  width: 80%;
  *zoom: 1;
   margin-left: auto; 
    margin-right: auto;
    padding-bottom: 8px;
}


.social-group {
   text-align: justify;
}



/*for gallery*/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  /*box-shadow: 0 1px #EBEBEB;*/
  background: #fff;
  /*border-radius: 3px;*/
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}



/*New Modal*/
.lightbox-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.lightbox-backdrop.fade {
  opacity: 0;
}
.lightbox-backdrop,
.lightbox-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.lightbox {
  position: fixed;
  top: 20%;
  left: 0%;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

@media (max-width: 767px){
    .lightbox {
  width: 100%;
  margin-left: 0%;
}

.lightbox.fade.in {
  top: 0%;
}


.carousel-control {
    top:150px;
  }
}


@media (min-width: 768px) and (max-width: 979px){
    .lightbox {
  width: 95%;
  margin-left: 2.5%;in
}

.lightbox.fade.in {
  top: 2.5%;
}
.carousel-control {
  top:300px;
  }
}


@media (min-width: 979px){
    .lightbox {
  width: 50%;
  margin-left: 25%;

}


.lightbox.fade.in {
  top: 5%;
}

.carousel-control {
    top:250px;
  }
}

.lightbox.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}

.lightbox-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.lightbox-header .close {
  margin-top: 5px;
}
.lightbox-header h3 {
  margin: 0;
  line-height: 30px;
}
.lightbox-body {
  position: relative;
  overflow-y: auto;
  height: 100%;
  padding: 15px;
  margin: 30px;
}
.lightbox-form {
  margin-bottom: 0;
}
.lightbox-footer {
  /*padding: 14px 15px 15px;*/
  /*margin-bottom: 10px;*/
 /* text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  *zoom: 1;*/
}
.lightbox-footer:before,
.lightbox-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox-footer:after {
  clear: both;
}
.lightbox-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.lightbox-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.lightbox-footer .btn-block + .btn-block {
  margin-left: 0;
}

.carousel-control {
  position: absolute;
  border-radius: 100%;
  left: 14px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 100;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 1px solid #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=10);
}
 
.kpcbParagraph {
  text-align: left;
  padding-bottom: 20%;

}

.kpcbParagraph p{
  text-align: left;
  margin: auto;
  max-width: 800px;
  padding-bottom: 15px;



@media (min-width: 979px){
    padding-right: 10%;
  padding-left: 10%;

}

}




.paragraphImageHead {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  
}

.paragraphImage {
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 5%;
  max-width: 600px;
  text-align: center;
  margin:auto;
}
.paragraphImageHead img {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  max-width: 100%;
}
.paragraphImage img {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
}

.paragraphImage p {
  padding-top: 5px;
  color: rgba(111, 111, 111, 1);
}